@charset "UTF-8";
/* CSS Document */

/* Table of Contents

--------------------------------1 Body
--------------------------------2 Typography
--------------------------------------2.1 Headings
--------------------------------------2.2 Body Copy
--------------------------------------2.3 Buttons
--------------------------------------2.4 Forms
--------------------------------------2.5 Lists
--------------------------------------2.6 Tables
--------------------------------3 Navigation Menues
--------------------------------------3.1 Main
--------------------------------------3.2 Sub
--------------------------------------3.3 Footer
--------------------------------4 Structure
--------------------------------------4.1 Site Content
--------------------------------------4.2 Site Header
--------------------------------------4.3 Site Footer
--------------------------------5 Media
--------------------------------------5.1 Sprites
--------------------------------------5.2 Background Images
--------------------------------------5.3 Media Querries
--------------------------------6 Other
*/

/*
--------------------------------1 Body
*/

html {
	background-color: #000;
	color: #c9c9c9;
}

*, *:after, *:before {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	text-align: center;
}

.wrapper {
	/* width: 1170px; */
	width: 81%;
	margin: 0 auto;
}

.row:after {
	content:" ";
	display: table;
	clear: both;
}
/*
--------------------------------2 Typography
*/

* {
	font-family: 'Raleway', sans-serif;
}

/*
--------------------------------------2.1 Headings
*/

h1 {
	font-weight: 900;
	font-size: 6rem;
}

h2, h3, h4 {
	font-weight: 700;
	margin: 0;
}

h2 {
	font-size: 4rem;
	text-transform: uppercase;
}

h3 {
	font-size: 1.5rem;
}


/*
--------------------------------------2.2 Body Copy
*/

a {
	text-decoration: none;
}

p, a {
	font-weight: 300;
}

#home p {
	font-size: 1.25rem;
	padding-top: 2rem;
}

address {
	text-align: left;
	font-size: .8rem;
	padding: 1rem 0;
}

/*
--------------------------------------2.3 Buttons
*/

body>section a {
	font-size: 1.5rem;
	font-weight: 500;
	border-bottom: 2px solid #C9C9C9;
	padding: .35rem 1.25rem;
	margin: 1rem 20% 2rem 20%;
	display: inline-block;
	color: #C9C9C9;
	text-transform: uppercase;
}

body>section a:hover {
	border: 2px solid #C9C9C9;
	font-weight: 700;
}

/*
--------------------------------------2.4 Forms
*/
/*
--------------------------------------2.5 Lists
*/

ul {
	padding-left: 0;
}

/*
--------------------------------------2.6 Tables
*/
/*
--------------------------------3 Navigation Menues
*/

ul li{
	display: inline-block;
}

/*
--------------------------------------3.1 Main
*/

header nav {
	float: right;
}

header nav a, footer a {
	color: #C9C9C9;
	font-size: .8rem;
	padding: .3rem .7rem;
	border-bottom: 1px solid #C9C9C9;
	margin: .3rem;
}

header nav a:hover, footer a:hover {
	border: 1px solid #C9C9C9;	
}


/*
--------------------------------------3.2 Sub
*/
/*
--------------------------------------3.3 Footer
*/

footer section h4, footer section {
	text-align: left;
	}
	
footer ul {
	float: left;
	margin: 1rem 0rem 2.5rem 0rem;
}

footer img {
	margin-top: 1rem;
}

footer [class="col-1-4"]:last-of-type {
	float: right;
}

footer [class="col-1-4"]:first-of-type {
	float: left;
}

footer section:nth-child(2) {
	margin-left: 15%;
}

/*
--------------------------------4 Structure
*/

body>section {
	padding: 15%  0;
}

[class*="col-"] {
	float: left;
}

.col-1 {
	width: 100%
}

.col-1-2 {
	width: 50%;
	padding: 2rem 8.5rem;
}

.col-1-3 {
	width: 33.33%;
	text-align: left;
}

.col-1-4 {
	width: 25%;
	padding: 2rem;
}

/*
--------------------------------------4.1 Site Content
*/

/*
--------------------------------------4.2 Site Header
*/

body>header {
	padding: 1.5rem;
}

body>section:first-of-type p {
	padding: 0 18rem;
}

header img {
	display: inherit;
}

/*
--------------------------------------4.3 Site Footer
*/


/*
--------------------------------5 Media
*/



/*
--------------------------------------5.1 Sprites
*/

a[class*="sprite"] {
	margin: 0;
	border: 0px;
}

a[class*="sprite"]:hover {
	border: 0px;
}

.sprite-fb {
    height: 20px;
    background: url(../img/facebook-sprite.png) no-repeat;
    background-position: 1px 0;
	padding: 10px;
	margin: 0 auto;
}

.sprite-fb:hover {
    background-position: -1820px 0;
    transition: background 1s steps(91);
}

.sprite-tumblr {
	height: 20px;
	background: url(../img/tumblr-sprite.png) no-repeat;
	background-position: 1px 0;
	padding: 10px;
	margin: 0 auto;
}

.sprite-tumblr:hover {
    background-position: -1820px 0;
    transition: background 1s steps(91);
}

/*
--------------------------------------5.2 Background Images
*/

#home {
	background: url(../img/bg-img-top.png) no-repeat;
	background-size: cover;
}

#work {
	background-color: #108180;
}

#about {
	background: url(../img/bg-img-bottom.png) no-repeat;
	background-size: cover;
}

/*
--------------------------------------5.3 Media Querries
*/

@media screen and (max-width: 480px) {
	
	.col-1-3, .wrapper, .col-1-2 {
		width: 95%;
		padding: 2%;
		float: none;
	}
	
	.col-1-4 {
		width: 90%;
		margin: 5%;
		padding: 2%;
		float: none;
	}
	
	section[id="work"] {
		margin: 0 auto;
	}
	
	h1 {
		font-size: 4rem;
	}
	
	h2 {
		font-size: 2rem;
	}
	
	h4 {
		display: none;
	}
	
	footer section {
		margin: 0 auto;
		float: none;
	}
	
	body>section:first-of-type p, footer section[class="col-1-3"] {
		padding: 0 1rem;
	}
	
	address {
		text-align: center;
	} 
	
	footer section:nth-child(2), footer section:nth-child(2) nav {
		float: none;
		margin: 0 auto;
		text-align: center;
	}
	
}

/*
--------------------------------6 Other
*/
